body {
  background-color: #F8F7FA;
}

a.navbar-brand, a.navbar-brand:visited {
  color: #E62C08;

  font-weight: 500;
  margin-left: 10px;
  font-size: 1.6rem;
  font-family: "Permanent Marker", cursive;
}
.headerimage {
  position: absolute;
  top: 61px;
  height: 350px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  filter: blur(20px) brightness(.8);
}

.post-details {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 100px;
}

.post-details img.post-image {
  width: 100%;
}

.content-container {
  padding-top: 100px;
}

.post-form-container {
  margin-top: 100px;
  box-sizing: border-box;
}

.post-form-homepage-container {
  margin-left: -15px;
}

.post-form-container .card {
  padding: 20px;
}

.post-date-abbreviated {
  line-height:1;
  margin: 0;
  padding: 0;
}

.post-price {
  position: absolute;
  bottom: 20px;
}

.row.post-register-button-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-style: solid;
  border-width: 1px 0px;
  border-color: #DBDAE3;
}

.post-description-container {
  padding: 60px;
  background: white;
}

a.post-card-link, a.post-card-link:hover {
  color: #333333;
  text-decoration: none;
}

.post-card {
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
}

.post-card img {
  height: 200px;
  object-fit: cover;

}

.post-card-date {
  color: #d1410c;
}

.container-max-width {
  max-width: 1020px;

}
